*{
  padding: 0px;
  margin: 0px;
}



.App>.forms{
  background-color: crimson;
  margin: auto;
  width: 500px;
  max-height: 266px;
  min-width: auto;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

input:focus{
  background-color: red;
}